#container{
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    position: relative;
    height: inherit;
}
.post{
    border: 2px solid blanchedalmond;
    margin-left: 10em;
    margin-right: 10em;
    margin-top: 50em;
    display: flex;
    flex-direction: column-reverse;
    align-items:center;
    height: 200px;
    border-top-right-radius: 100%;
    border-top-left-radius: 100%;
  width: 6px;
  margin: 0 auto;
  left: 55px;
  bottom: -20px;
  position:relative
}
.disc{
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    border: 3px solid black;
    height: 20px;
}
#first{
    width: 90px;
    height: 20px;
    background-color: #a58a6a;
    border: 1px solid black;
}
#second{
    width: 70px;
    height: 20px;
    background-color: #b5a76a;
    border: 1px solid black;
}
#third{
    width: 50px;
    height: 20px;
    background-color: #c0c181;
    position: relative;
    border: 1px solid black;
}
#fourth{
    width: 30px;
    height: 20px;
    background-color: #e9eaab;
    position: relative;
    border: 1px solid black;
}


